<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <hr>
        <section class="copyright">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></section>
        <section class="poweredby"><a href="https://github.com/lxndio/Aquila">Aquila</a> theme by <a href="http://www.lxnd.me/">lxndio</a>. Proudly published with <a href="https://ghost.org">Ghost</a></section>
        <section class="rss"><a href="{{@blog.url}}/rss/">RSS Feed</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
</body>
</html>
